@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.yellow {
  text-decoration: none;
  color: hsl(48, 100%, 58%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    text-decoration-line: underline;
    text-decoration-color: inherit;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    height: 100vh;
    display: grid;
    padding: 0 2rem;
  }
}
